body{
  font-family: Noto Sans TC;
  margin :auto 0;
  color: #666666;

  
}
#navbar_container{
  background-color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  border-bottom: #E8E8E8 1px solid;
}
.navbar{
  display: flex;
  width: 1200px;
  justify-content: space-between;
}
.left{
  font-weight: bold;
  font-size: 30px;
  width: 47%;
  color: #448899;
  margin: 10px;
  
}
.right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: end;
  margin: 10px;
  width: 53%;
}
#webFunction_book{
  font-size: 16px;
}
#webFunction_signin{
  font-size: 16px;
}
#webFunction_signout{
  font-size: 16px;
}
.outside_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.outside_container > .back_container{
  width: 1200px;
}
.outside_container > .back_container > .attractions_container {
  padding-top: 94px;
}
.outside_container > .back_container > .attractions_container.attractions_container > .attraction_image{
  background: no-repeat ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.attractions_container  > .attraction_image > .arrow_button_container{
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.attractions_container > .attraction_image > .arrow_button_container > #arrow_button_left{
  width: 36px;
  height: 36px;
  opacity: 0.5;
}
.attractions_container  > .attraction_image > .arrow_button_container > #arrow_button_right{
  width: 36px;
  height: 36px;
  opacity: 0.5;
}
.attractions_container  > .attraction_image > .image_dot_container{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}
.attractions_container  > .attraction_image > .image_dot_container > .dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}
.attractions_container  > .attraction_image > .image_dot_container > .dot > #black_dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
.attraction_information_container > .attraction_name{
  margin: 20px 0px 15px 10px;
  font-size: 24px;
  font-weight: bold;
}
.attraction_information_container > .attraction_information{
  margin: 0px 0px 15px 10px;
}

.book_trip_container{
  padding: 20px;
  background: #E8E8E8;
  color: #666666;

  margin: 10px;
}
.book_trip_container > .attraction_information_container > .attraction_name{
  margin: 20px 0px 15px 10px;
  font-size: 24px;
  font-weight: bold;
}
.book_trip_container > .attraction_information_container > .attraction_information{
  margin: 0px 0px 15px 10px;
}

.book_trip_container > .book_information1{
  font-weight: bold;
  margin: 0px 0px 15px 0px;
}
.book_trip_container > .book_information2{
  margin: 15px 0px 7px 0px;
}
.book_trip_container > .book_date_container{
  display: flex;
  align-items: center;
}
.book_trip_container > .book_date_container > .book_date1{
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
.book_trip_container > .book_date_container > input{
  height: 35px;
}
.book_trip_container > .book_time_container{
  display: flex;
  align-items: center;
}
.book_trip_container > .book_time_container > .book_time{
  font-weight: bold;
  margin: 10px 0px 15px 0px;
}
.book_trip_container > .book_time_container > .circle1{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.book_trip_container > .book_time_container > .circle3{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.book_trip_container > .book_time_container > .circle1 > .circle2{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #448899;
  display: block;
}
.book_trip_container > .book_time_container > .circle3 > .circle4{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #448899;
  display: none;

}

.book_trip_container > .book_money_container{
  display: flex;
}


.book_trip_container > .book_money_container > .book_money{
  font-weight: bold;
  margin: 0px 0px 25px 0px;
}
#book_button{
  width: 154px;
  height: 36px;
  color: white;
  background: #448899;
  font-size: 19px;
  border: 0;
  border-radius: 5px;
}
#hr_container{
  display: flex;
  justify-content: center;
}
hr{
  margin: 45px 0px 45px 0px;
  background-color: #E8E8E8;
  border: none;
  height: 1px;
  width: 1200px;
}
.attraction_detail{
  margin: 0px 10px 0px 20px;
}
.attraction_description{
  line-height: 23px;
}
.attraction_detail > .attraction_address_title{
  font-weight: bold;
  margin-top: 20px;
}

.attraction_detail > .attraction_transport_title{
  font-weight: bold;
  margin-top: 20px;
}
.attraction_detail > #attraction_transport{
  margin-bottom: 110px;
  line-height: 23px;
}
.footerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #757575;
  color: white;
  height: 104px;
}

@media(min-width: 1200.1px){
  .left{
    width: 80%;
  }
  .right{
    width: 20%;
  }
  .back_container{
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
  }
  .book_container{
    margin-left: 30px;
  }
  .book_trip_container{
    width: 560px;
    border-radius: 5px;
  }
  .attractions_container > .attraction_image{
    height: 406px;
    border-radius: 5px;
  }
  .attraction_information_container > .attraction_name{
    margin: 90px 0px 15px 10px;
  }
  .attraction_detail_container{
    display: flex;
    justify-content: center;
  }
  .attraction_detail{
    width: 1200px;
  }

}
@media(max-width: 1200px){
  .left{
    width: 70%;
  }
  .right{
    width: 30%;
  }
  .back_container{
    display:grid ;
    grid-template-columns: 1.3fr 0.7fr;
  }  
  .attractions_container {
    padding-left: 10px;
  }
  .book_trip_container{
    height: 270px;
    border-radius: 5px;
  }
  .attractions_container > .attraction_image{
    height: 406px;
    border-radius: 5px;
  }
  .attraction_information_container > .attraction_name{
    margin: 90px 0px 15px 10px;
  }

}
@media(max-width: 900px){
  .left{
    width: 47%;
  }
  .right{
    width: 53%;
  }
  .back_container{
    display: block;
  }  
  .attractions_container {
    padding: 94px 0px 0px 0px;
  }
  .outside_book_container{
    display: flex;
    justify-content: center;
  }
  .book_container{
    margin: 0;
  }
  .attraction_information_container > .attraction_name{
    margin: 20px 0px 15px 10px;
  }
  .attractions_container > .attraction_image{
    height: 350px;
    width: 100vw;
  }
  .attractions_container > .attraction_image{
    background-position: 80%;
  }
  
}

/* 會員登入/註冊框 */
#signin_box{
  display: none;
  margin: auto;
  width: 340px;
}
#signup_box{
  display: none;
  margin: auto;
  width: 340px;
}
.sign_top{
  width: 340px;
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 6px 6px 0px 0px;
}
.sign{
  width: 340px;
  background-color: white;
  border-radius: 0px 0px 6px 6px;

}
.sign_slogan_container{
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
}
.sign_slogan{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:100px;
  font-size: 24px;
  font-weight: 700;
  color: #666666;
}
.sign_slogan_container > img{
  width: 16px;
  height: 16px;
  margin:17px;
}
.sign > input{
  width: 292px;
  height: 41px;
  margin: 0px 15px 10px 15px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  border: 1px solid;
  border-color: #CCCCCC;
}
.sign > button{
  width: 310px;
  height: 47px;
  margin: 0px 15px 10px 15px;
  background-color: #448899;
  border: 0;
  border-radius: 5px;
  color :white;
  font-size: 19px;
}
#signup_message{
  font-size: 16px;
  color: rgb(202, 27, 27);
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
#signin_message{
  font-size: 16px;
  color: rgb(202, 27, 27);
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.a {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.a > button{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  border:0;
  background-color: white;

}

#modal{
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.close_button:hover {
  cursor: pointer;
}
#backto_signup:hover{
  cursor: pointer;
}
#backto_signin:hover{
  cursor: pointer;
}
#signin_button:hover{
  cursor: pointer;
}
#signup_button:hover{
  cursor: pointer;
}
#webFunction_book:hover{
  cursor: pointer;
}
#webFunction_signin:hover{
  cursor: pointer;
}
#webFunction_signout:hover{
  cursor: pointer;
}
