<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'index.css') }}" />
</head>
<body>
  <div id= "navbarContainer">
    <nav class="navbar">
      <div class= "left">台北一日遊</div>
      <div class= "right">
        <div class= "webFunction">預定行程</div>
        <div class= "webFunction">登入/註冊</div>
      </div>
    </nav>
  </div>
  <br>
  <div class= "container">
    <div class= "backgroundPictureContainer">
      <div class= "sloganContainer">
        <div id= "slogan1">輕鬆享受台北一日悠閒</div>
        
        <div id= "slogan2">探索每個角落，體驗城市的深度旅遊行程</div>
        
        <div class="searchContainer">
          
            <input id= "inputKeyword" type= "text" placeholder= "輸入景點名稱查詢" >
            <button id= "searchButton" type= "submit" ></button>
          
        </div>
      </div>
    </div>
  </div>
  <div class="attractionsContainer">
         
         
  </div>
  



<div class= "footerContainer">
  <footer class= "footer">COPYRIGHT © 2021 台北一日遊</footer>
</div>

  <script src= "{{ url_for("static", filename= "index.js") }}"  type= "text/javascript"></script>
</body>
</html>